header {
    background-color: #fff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
    margin-left: 20px;
}
